PUSH org.example.Factory.Command.Push
POP org.example.Factory.Command.Pop
PLUS org.example.Factory.Command.Plus
MULT org.example.Factory.Command.Mult
DIV org.example.Factory.Command.Div
SQRT org.example.Factory.Command.Sqrt
PRINT org.example.Factory.Command.Print
MIN org.example.Factory.Command.Min
DEFINE org.example.Factory.Command.Define
PASH org.example.Factory.Command.